:root {

  --font-space-mono:"Space Mono", monospace;

  --font-lexend-deca:"Lexend Deca",sans-serif;

  --font-color-gray:#939CAA;
  --font-color-dark-gray:#495567;
  --font-color-white:#fff;
  --bg-color:#FCB72B;
  --font-color-yellow:#FCB72B;



}



@font-face {
  font-family: "Lexend Deca";
  src: url("../fonts/LexendDeca-Regular.woff2") format("woff2"),
  url("../fonts/LexendDeca-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Regular.woff2") format("woff2"),
  url("../fonts/SpaceMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.woff2") format("woff2"),
  url("../fonts/SpaceMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Space Mono", monospace;
  background-color: #fff;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.container {
  max-width: 1160px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}


/* TODO HEADER  */


.header {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  background-color: #fff;
}

.nav {
  display: flex;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
}

.left-side-nav {
  display: flex;
  align-items: center;
}

.logo__link {
  margin-right: 42px;
}

.nav__list {
  padding-left: 0;
  list-style: none;
  display: flex;
}

.nav__list a {
  text-decoration: none;
  color: var(--font-color-gray);
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
}

.nav__item a:hover {
  color: var(--font-color-yellow);
}

.nav__item {
  padding-left: 16px;
  padding-right: 16px;
}


.button {
  text-decoration: none;
  color: var(--font-color-white);
  background-color: var(--bg-color);
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 0;
  border: 3px solid transparent;
}

.button:hover{
  border-color: var(--bg-color);
  background-color: #fff;
  color: var(--font-color-yellow);

}


.button--get-scootin {
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  width: 180px;
  text-align: center;
}

.nav__button {
  margin-left: auto;
}



/* TODO HERO  */


.hero {
  margin-top: 96px;
  background-image: url("../img/img-bg-scooter.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 153px;
  padding-bottom: 153px;
  position: relative;

  overflow: hidden;
}

.hero__container {
  position: relative;
  z-index: 1;
}
.hero__container::after {
  content: "";
  position: absolute;
  bottom: 15px;
  right: -200px;
  z-index: -1;
  width: 234px;
  height: 62px;
  background: url("../img/three-circle.svg") center / contain no-repeat;
}

.hero__title {
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: var(--font-color-white);
  width: 500px;
  margin-right: auto;

}

.hero__text {
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: var(--font-color-white);
  width: 405px;
  font-family: var(--font-lexend-deca);
  position: relative;
  margin-left: 95px;
  max-width: 405px;
  margin-top: 40px;

}

.hero__text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -260px;
  z-index: -1;
  transform: translateY(-50%);
  width: 203px;
  height: 15px;
  background: url("../img/bg-hero-line.svg") center / contain no-repeat;
}

.hero__text::after {
  content: "";
  position: absolute;
  top: 43px;
  right: -492px;
  z-index: -1;
  width: 452px;
  height: 151px;
  background: url("../img/arrov-right.svg") center / contain no-repeat;

}

.hero__button {
  margin-left: 95px;
  margin-top: 40px;

}


/* TODO STEPS  */


.steps__list {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 160px;
  margin-bottom: 140px;
}

.steps__list::before {
  content: "";
  position: absolute;
  top: 48px;
  left: -175px;
  z-index: -1;
  width: 974px;
  height: 15px;
  background: url("../img/line-gray.svg") center / contain no-repeat;

}


.steps__item {
  padding-top: 140px;
  width: 350px;
  position: relative;


}


.item-app {
  background-image: url("../img/logo-app.svg");
  background-repeat: no-repeat;
  background-position: left top;

}

.item-scooter {
  background-image: url("../img/logo-scooter.svg");
  background-repeat: no-repeat;
  background-position: left top;

}

.item-ride {
  background-image: url("../img/logo-riding.svg");
  background-repeat: no-repeat;
  background-position: left top;
}


.steps__title {
  margin: 0;
  font-weight: bold;
  font-weight: bold;
  font-size: 48px;
  letter-spacing: -2.14286px;
  color: var(--font-color-dark-gray);
}

.steps__text {
  margin: 0;
  padding-top: 27px;
  font-size: 15px;
  line-height: 25px;
  color: var(--font-color-gray);
}



/* TODO FEATURES   */


.features__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;

}


.item-city {
  flex-direction: row-reverse;
}

.features__box {
  width: 445px;

}

.features__title{
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: var(--font-color-dark-gray);
  margin: 0;
}

.features__text {
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: var(--font-color-gray);
  margin: 0;
  padding: 24px 0 40px;
  font-family: var(--font-lexend-deca);
}

.features__button {
  padding: 14px 44px;
}

.features__img {
  border-radius: 50%;
}

.features-img__box {
  position: relative;
}

.features-img__box::after{
  position: absolute;
  content: "";
  display: block;
  right: -110%;
  bottom: 0;
  background-image: url("../img/img-circle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 445px;
  height: 445px;
}

.img-city::after {
  position: absolute;
  content: "";
  display: block;
  right: 110%;
  bottom: 0;
  background-image: url("../img/img-circle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 445px;
  height: 445px;
}

.features-img__box::before {
  content: "";
  position: absolute;
  left: -130px;
  bottom: 0;
  z-index: 10;
  width: 735px;
  height: 140px;
  background-image: url("../img/arrov-long-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.img-city::before {
  content: "";
  position: absolute;
  left: -118%;
  top: 0;
  z-index: 10;
  width: 735px;
  height: 140px;
  background-image: url("../img/arrov-long-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.img-payment::before {
  content: "";
  position: absolute;
  left: 235px;
  top: 66px;
  z-index: 10;
  width: 735px;
  height: 140px;
  background-image: url("../img/arrov-long-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}


/* TODO GRAY SECTION  */

.gray-section {
  background-image: url("../img/img-bg-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
}

.gray-section__container {
  display: flex;
  justify-content: space-between;
}

.gray-section__title {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: var(--font-color-white);
  width: 415px;
  margin: 0;
  padding: 100px 0;
}

.gray-section__list {
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: flex;
  padding: 122px 0;
}

.gray-section__list li:first-child{
  margin-right: 18px;
}

.gray-section__item {
  background-color: #E5ECF4;
  border-radius: 4px;
  padding: 8px 15px 9px 52px;

}

.item-app-store {
  width: 160px;
  background-image: url("../img/icon-app-store.svg");
  background-repeat: no-repeat;
  background-position: calc(0% + 16px) center;

}
.item-google-play {
  width: 182px;
  background-image: url("../img/icon-play-market.svg");
  background-repeat: no-repeat;
  background-position: calc(0% + 16px) center;

}
.item-app-store p {
  width: 92px;

}

.gray-item__text {
  font-family: var(--font-space-mono);
  font-weight: bold;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.45px;
  color: var(--font-color-dark-gray);
  margin: 0;
}

.gray-item__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.9px;
  color: var(--font-color-dark-gray);
  margin: 0;
}


/* TODO FOOTER  */


.footer {
  background-color: #333A44;

}

.footer__container{
  padding: 36px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-side-footer{
  display: flex;

}

.footer__list {
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;

}

.footer__img {
  margin-right: 43px;
}

.footer__link {
  text-decoration: none;
  color: var(--font-color-gray);
  margin: 0 16px;
}

.footer__link:hover{
  color: var(--font-color-yellow);
}

.social-networks__list {
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: flex;

}

.social-networks__item:not(:last-child){
  margin-right: 24px;

}

.social-networks__item svg {
  width: 24px;
  height: 24px;
  color: var(--font-color-yellow);
}

.social-networks__item svg:hover {
  color: var(--font-color-gray);
}

.footer-logo__link {
  color: var(--yellow);
  transition: color 0.3s ease;

}




/* --------- */
/* ---------*/
/* TODO ABOUT  */
/* --------- */
/* --------- */


.about {
  background-image: url("../img/img-bg-about.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 72px 0;
  margin-top: 80px;
}

.about__title {
  color: var(--font-color-white);
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  margin: 0;
}


/* TODO FEATURES  */


.features__list {
  padding-left: 0;
  list-style: none;
}

.features__item {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}

.item-urban {
  flex-direction: row-reverse;
}

.features__img {
  border-radius: 50%;

}

.item-img__box {
  position: relative;
}


.item-img__box::after {
  position: absolute;
  content: "";
  display: block;
  right: -110%;
  bottom: 0;
  background-image: url("../img/img-circle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 445px;
  height: 445px;
}

.item-urban-img__box::after{
  position: absolute;
  content: "";
  display: block;
  right: 110%;
  bottom: 0;
  background-image: url("../img/img-circle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 445px;
  height: 445px;

}

.item-img__box::before{
  content: "";
  position: absolute;
  left: -130px;
  bottom: 38px;
  z-index: 10;
  width: 735px;
  height: 140px;
  background-image: url("../img/left-top-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.item-urban-img__box::before {
  content: "";
  position: absolute;
  left: -118%;
  top: 0;
  z-index: 10;
  width: 735px;
  height: 140px;
  background-image: url("../img/arrov-long-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.features__box {
  width: 445px;
}

.features__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: var(--font-color-dark-gray);
}

.features__text {
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: var(--font-color-gray);
  font-family: var(--font-lexend-deca);
}


/* TODO VALUES  */

.values__container {
margin-top: 120px;
}

.values__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  margin: 0;
}

.values__list {
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.values__item {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.values-item__img {
  width: 240px;

  border-radius: 50%;
  margin-top: 100px;

}


.values-item__title {
  font-weight: bold;
font-size: 24px;
line-height: 28px;
letter-spacing: -1.07143px;
color: var(--font-color-dark-gray);
}

.values-item__text {
  font-weight: normal;
font-size: 15px;
line-height: 25px;
color: var(--font-color-gray);
text-align: center;
font-family: var(--font-lexend-deca);
}

.values__item div{
  position: relative;
  margin-bottom: 87px;
}

.tech-img__box::after{
content:" ";
display: block;
width: 96px;
height: 96px;
background-image: url("../img/number-one.svg");
background-position: center center;
background-repeat: no-repeat;
background-size: 29px 29px;
background-color: var(--bg-color);
border-radius: 50%;
z-index: 2;
position: absolute;
bottom: -55px;
left: 72px;


}


.integrity-img__box::after{
  content:" ";
  display: block;
  width: 96px;
  height: 96px;
  background-image: url("../img/number-two.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 29px 29px;
  background-color: var(--bg-color);
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  bottom: -55px;
  left: 72px;

}

.community-img__box::after{
  content:" ";
  display: block;
  width: 96px;
  height: 96px;
  background-image: url("../img/number-three.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 29px 29px;
  background-color: var(--bg-color);
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  bottom: -55px;
  left: 72px;

}




/* TODO FAQS  */






















/* ------------ */
/* ------------ */
  /*TODO CAREERS  */
/* ------------ */
/* ------------ */


.careers {
  background-image: url("../img/img-bg-careers.png");
  background-repeat: no-repeat;
  background-size: cover;
margin-top: 60px;
padding: 72px 0;
background-position: center center;
}


.careers__title {
  font-weight: bold;
font-size: 56px;
line-height: 56px;
letter-spacing: -2.5px;
color: var(--font-color-white);
}



/* TODO FEATURES  */


.features-box__container {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 170px;
margin-bottom: 120px;
}

.features__button--hello {
  padding: 14px 49px;
}


/* TODO INFO  */



.info__list{
  padding-left: 0;
  list-style: none;
  margin: 0;
  margin-bottom: 160px;
}

.info__item {

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F2F5F9;
  margin: 12px 0;
  padding: 32px 64px 32px 40px;
}

.info__title {

  font-weight: bold;
font-size: 24px;
line-height: 28px;
letter-spacing: -1.07143px;
color: var(--font-color-dark-gray);
margin: 0;
}

.info__text {
  margin: 0;
margin-top: 8px;
font-size: 15px;
line-height: 25px;
color: var(--font-color-gray);
font-family: var(--font-lexend-deca);

}


.button--apply {
  padding: 14px 67px;
}








/* ---------- */
/* ---------- */
/*TODO --LOCATION -- */
/* ---------- */
/* ---------- */

.location{
  background-image: url("../img/img-bg-careers.png");
  background-repeat: no-repeat;
  background-size: cover;

}


.location__container {
  margin-top: 105px;
 padding-top: 72px;
 padding-bottom: 72px;

}


.location__title {
  padding-left: 0;
margin: 0;
  font-weight: bold;
font-size: 56px;
line-height: 56px;
letter-spacing: -2.5px;
color: var(--font-color-white);

}


/* TODO MAP  */

.map__container {
padding-top: 120px;
padding-bottom: 120px;
}


/* TODO LISTED  */


.listed__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 120px;
}

.listed__title {
  width: 350px;
  font-weight: bold;
font-size: 48px;
line-height: 48px;
letter-spacing: -2.14286px;
margin: 0;
color: var(--font-color-dark-gray);
}

.listed__text {
  font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 25px;
font-family: var(--font-lexend-deca);
color: var(--font-color-gray);
margin: 0;
width: 445px;
}


.listed__button {
  padding: 14px 44px;
}

